body {
   
  
      background-color: rgb(129, 127, 127);
    }

.contato{
        text-align: center;
        
        border: 1px solid;
    
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    } 